.parent-container {
    box-sizing: border-box;
    background: #B61838;
    background: -moz-linear-gradient(-45deg, #B61838 0%, #1d8de9 40%, #1d8de9 100%);
    background: -webkit-linear-gradient(-45deg, #B61838 0%, #1d8de9 40%, #1d8de9 100%);
    background: linear-gradient(135deg, #B61838 0%, #1d8de9 40%, #1d8de9 100%);
    /* width: 900 px; */
    height: 100vh;
    padding-left: 100px;
    padding-top: 70px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-direction: column;
}

.top-container {
    /* border: solid yellow; */
    width: 100%vw;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.rider-info {
    /* border: solid teal; */
    height: 450px;
    width: 700px;
    display: flex;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 70px;
    align-items: flex-start;
    flex-direction: column;

}
.profile-pic {
    /* display: flex;
    flex-direction: column; */
    /* padding-top: 20px; */
    /* border: solid orange; */
    max-height: 450px;
    width: 700px;
    box-sizing: border-box;
}
.profile-pic > img {
    max-width: 700px;
    max-height: 450px;

}
.profile-pic-buttons {
    padding-top: 40px;
}
.edit-buttons {
    /* border: solid magenta; */
    width: 1395px;
    display: flex;
    justify-content: space-around;
}

/* @media (max-width: 1500px) {
    .top-container {
        max-width: 1200px;
    }
} */
@media (min-width: 1500px) {
    .parent-container {
        min-width: 1300px;
    }
}


