.resort-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1150px;
  margin: 0 auto;
  padding-left: 100px;
}

.resort-image {
    max-width: 295px;
    height: 200px;
    margin: 20px;
}

