.posts-container {
    height: 700px;
    width: 1000px;
    /* border: solid orange; */
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.59);
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.59); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    align-items: center;
    padding: 10px;
}
.posts-container > i {
    color: blue;
    font-size: 25px;
    padding-left: 940px;
}

.add-button-post{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.posts {
    color: black;
    /* box-sizing: inherit; */
    border: 0;
    font-size: 100%;
    font: inherit;
    /* vertical-align: baseline; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.2);
    border-radius: 20px;
    background-color: rgb(241, 19, 19);
    padding: 20px;
}
