.column-parent {
    display: flex;
    /* height: 100vh; */
    
}
.top-links {
    box-sizing: inherit;
    /* border: solid black; */
    margin: 0;
    padding: 0;
    border: 0;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: #fff;
    background-image: linear-gradient(40deg,#c3073f,#1a1a1d);
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1),5px 0 5px rgba(0,0,0,.2);
}
.logout-button {
    margin-top: 375px;
    box-sizing: border-box;
    /* border: solid rgb(238, 210, 52); */
    font-size: 2.5rem;
    position: relative;
    text-decoration: white;
    color: #fff
}
/* .logout-button > i {
    color: white;
} */

.groups-link {
    padding-top: 220px;
    text-decoration: none;
    color: #fff;
    text-underline-position: none;
    /* border: solid pink; */
}
.profile {
    /* border: solid greenyellow; */
    max-width: 95px;
    height: 120px;
}
.profile > img {
    max-width: 95px;
    max-height: 120px;
}
.groups-link > i {
    font-size: 2.5rem;
    padding-top: 45px;
}

