.column-parent {
    display: flex;
    height: 100vh;
}
.top-links {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    color: #fff;
    background-image: linear-gradient(40deg,#f33e3e,#171beb);
    box-shadow: 10px 0 20px 0 rgba(0,0,0,.1),5px 0 5px rgba(0,0,0,.2);
}
.logout-button {
    margin-top: 580px;
    /* border: solid rgb(238, 210, 52); */
    font-size: 2.5rem;
    color: #fff
}

.groups {
    text-decoration: none;
    color: #fff;
    text-underline-position: none;

}
.profile > img {
    border: solid greenyellow;
    max-width: 100px;
    max-height: 100px;
}
.username {
    border: solid gray;
}

.groups {
    border: solid pink;
}